[submodule "third_party/aloha"]
	path = third_party/aloha
	url = https://gh-proxy.com/github.com/Physical-Intelligence/aloha.git
[submodule "third_party/libero"]
	path = third_party/libero
	url = https://gh-proxy.com/github.com/Lifelong-Robot-Learning/LIBERO.git
